/* Estilos básicos */
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  text-align: center;
  padding: 20px;
}

nav {
  margin-bottom: 20px;
}

button {
  background-color: #4caf50; /* Verde */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

.hidden {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.minijuego,
.simbolo {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 5px;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.pdf {
  width: 100%;
  aspect-ratio: 4 / 3;
}
